// Colors
$color-white: #fff;
$color-alabaster: #f7f7f7;
$color-tundora: #777;
$color-black: #000;

$color-razzmatazz: #da1664;
$color-eggplant-violet: #aa21aa;
$color-eastside: #c689cc;
$color-mauvelous: #ee81c4;

$color-tango-orange: #f37d1c;
$color-tuliptree: #e4a03a;


// Fonts
$default-font-size: 1.2rem;


// Grid
$grid-width: 71.25rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 3.75rem;