.header {
    height: 100vh;
    background-image: radial-gradient(circle, 
        rgba($color-razzmatazz, 0.29) 54%,
        rgba($color-tuliptree, 0.58) 100%),
        url(../img/Kievyan.jpg);
    background-size: cover;
    background-position: 100% 100%;
    position: relative;

    &__text-box {
        position: absolute;
        top: 38%;
        left: 32%;
        zoom: 97%;   
        text-align: center;

        &--heading-primary {
            color: $color-white;
            opacity: .95;
            margin: 3.125rem;

            &-main {
                display: block;
                animation: animateHeader 1s ease-out .5s;
                animation-fill-mode: backwards;
            }

            &-sub {
                display: block;
                animation: animateHeader 1s ease-out 2s;
                animation-fill-mode: backwards;
                backface-visibility: hidden;
            }
        }
    }
}
