.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-family: 'Cormorant', serif;
    border-radius: 6.25rem;
    padding: .0625rem .7rem;
    transition: all .4s;
    position: relative;
}

.btn--main {
    color: rgba(247, 247, 247, 0.959);
    background-color: rgba(198, 137, 204, 0.199);
    font-size: 1.4rem;
}

.btn:hover {
    transform: translateY(-.0625rem);
    box-shadow: 0 1.25rem 1.25rem rgba(0, 0, 0, .3);
}

.btn:active {
    transform: translateY(-.03125rem);
    box-shadow: 0 .3125rem .625rem rgba(0, 0, 0, .2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 6.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
}

.btn--main::after {
    background-color: rgba(198, 137, 204, 0.199);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveButton 2s ease-out 5s;
    animation-fill-mode: backwards;
}