.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        font-family: 'Cormorant', serif;
        border-radius: 6.25rem;
        padding: .0625rem .7rem;
        transition: all .4s;
        position: relative;
    }

    &--main {
        color: rgba($color-alabaster, 0.959);
        background-color: rgba($color-eastside, 0.199);
        font-size: 1.4rem;

        &::after {
            background-color: rgba($color-eastside, 0.199);
        }
    }

    &:hover {
        transform: translateY(-.0625rem);
        box-shadow: 0 1.25rem 1.25rem rgba($color-black, .3);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.03125rem);
        box-shadow: 0 .3125rem .625rem rgba($color-black, .2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 6.25rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .3s;
    }

    &--animated {
        animation: moveButton 1.5s ease-out 3s;
        animation-fill-mode: backwards;
    }
}